api_platform:
    title: Smart Café API
    description: API pour le Smart Café - Application de gestion et prise de commandes
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
    docs_formats:
        jsonld: ['application/ld+json']
        jsonopenapi: ['application/vnd.openapi+json']
        html: ['text/html']
    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
